<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>sim_books</th>
      <th>scores</th>
      <th>words</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1,000 Places to See Before You Die</td>
      <td>1,000 Places to See Before You Die</td>
      <td>1.000000</td>
      <td>[000 , 000 places , die , places , places die]</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1,000 Places to See Before You Die</td>
      <td>Dark Places</td>
      <td>0.258199</td>
      <td>[dark , dark places , places]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1,000 Places to See Before You Die</td>
      <td>Made to Stick: Why Some Ideas Survive and Others Die</td>
      <td>0.169031</td>
      <td>[die , ideas , ideas survive , stick , stick ideas , survive , survive die]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1,000 Places to See Before You Die</td>
      <td>The Land of 10,000 Madonnas</td>
      <td>0.169031</td>
      <td>[000 , 000 madonnas , 10 , 10 000 , land , land 10 , madonnas]</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1,000 Places to See Before You Die</td>
      <td>1st to Die (Women's Murder Club #1)</td>
      <td>0.149071</td>
      <td>[1st , 1st die , club , die , die women , murder , murder club , women , women murder]</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1,000 Places to See Before You Die</td>
      <td>Old Records Never Die: One Man's Quest for His Vinyl and His Past</td>
      <td>0.124035</td>
      <td>[die , die man , man , man quest , old , old records , past , quest , quest vinyl , records , records die , vinyl , vinyl past]</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1,000 Places to See Before You Die</td>
      <td>The Geography of Bliss: One Grump's Search for the Happiest Places in the World</td>
      <td>0.124035</td>
      <td>[bliss , bliss grump , geography , geography bliss , grump , grump search , happiest , happiest places , places , places world , search , search happiest , world]</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1,000 Places to See Before You Die</td>
      <td>Far &amp; Away: Places on the Brink of Change: Seven Continents, Twenty-Five Years</td>
      <td>0.115470</td>
      <td>[away , away places , brink , brink change , change , change seven , continents , continents years , far , far away , places , places brink , seven , seven continents , years]</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1,000 Places to See Before You Die</td>
      <td>A History of God: The 4,000-Year Quest of Judaism, Christianity, and Islam</td>
      <td>0.115470</td>
      <td>[000 , 000 year , christianity , christianity islam , god , god 000 , history , history god , islam , judaism , judaism christianity , quest , quest judaism , year , year quest]</td>
    </tr>
  </tbody>
</table>