<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<form action="/post">
	<!-- A div is just a block element; makes other elements appear below this one instead of side by side. -->
	<div>
		<!-- A label is some text associated with an element. It's particularly useful for screen readers. -->
		<label for="title">Title</label>
		<!-- A "text" inpu'                                                  t is a normal text field. -->
		<input type="text" name="title" id="title" />
	</div>
	<div>
		<!-- When you have a "submit" input, this will send the data in the form to the `action` when pressed. -->
		<input type="submit">
	</div>
</form>

</body>
</html>